<div *ngIf="isLoading" class="h-1000">
    <div class="">
      <div class="">
        <div class="container">
          <div class="row">
            <div id="loader">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="loading"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Not loading.... -->
    </div>
  </div>