<!-- <div class="panel">                                                         ----------------               
    <div class="panel-body">                                                    | LIST VIEW CODE |
        <p>                                                                      ----------------
            {{ displayNote }}
        </p>
        <button class="btn btn-defult btn-sm delButton" (click)="onClick()">
            Delete
        </button>
    </div>
</div> -->

<div class="box" @fade [style.backgroundColor]="displayNote.color">
    <div class="text"  (click)="openDialog()">
        {{ displayNote.value }}
        <!-- <div
            class="btn btn-defult btn-sm pinButton" 
            [class.isPinned]="isPinned" 
            (click)="onClickPin()">
            <span class="w3-large fa fa-map-marker">
            </span>
        </div> -->
    </div>
     
    <div class="d-flex toolbar">
        <div class="icon material-icons"  
             matTooltip="not working"
             [matTooltipPosition]="'above'">
             notifications_none
        </div>
        <div class="icon material-icons"  
             matTooltip="not working"
             [matTooltipPosition]="'above'">
             person_add_alt_1
        </div>
        <div class="icon material-icons"  
             matTooltip="change color"
             [matTooltipPosition]="'above'"
             (click)="openMenuOptionsPopup($event)">
             palette
        </div>
        <div class="icon material-icons"  
             matTooltip="not working"
             [matTooltipPosition]="'above'">
             insert_photo
        </div>
        <div class="icon material-icons"  
             matTooltip="not working"
             [matTooltipPosition]="'above'">
             archive
        </div>
        <div class="icon material-icons"
             matTooltip="delete"
             [matTooltipPosition]="'above'"
             (click)="onClickDelete()">
             delete
        </div>
    </div> 
    <gs-popover [closeOnClick]="true"  #menuOptionsPopup>
        <change-color [selectedColor]="displayNote.color" (changedColorEvent)="changeColor($event)"></change-color> 
    </gs-popover>
</div>