<!-- <div class="panel">
    <div class="panel-body">                                                  // LIST VIEW CODE
        <p>
            {{ displayNote }}
        </p>
        <button class="btn btn-defult btn-sm delButton" (click)="onClick()">
            Delete
        </button>
    </div>
</div> -->

<div class="box" @fade [style.backgroundColor]="displayNote.color">
    <div class="text"  (click)="openDialog()">
        {{ displayNote.value }}
        <!-- <div
            class="btn btn-defult btn-sm pinButton" 
            [class.isPinned]="isPinned" 
            (click)="onClickPin()">
            <span class="w3-large fa fa-map-marker">
            </span>
        </div> -->
    </div>
     
    <div class="d-flex toolbar">
        <div class="icon fa fa-bell-o"></div>
        <div class="icon fa fa-user-plus "></div>
        <div class="icon fa fa-paint-brush "></div>
        <div class="icon fa fa-picture-o"></div>
        <div class="icon fa fa fa-archive"></div>
        <div class=" fa fa-trash icon" (click)="onClickDelete()"></div>
    </div>   
</div>