.editbox {  
    border: none;
    width: 100%;
    color: powderblue; 
    margin-bottom: 40px;
    word-wrap: break-word;
}

.editbox:focus {
    outline: none;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.closeDialogButton {
    background: none;
    border: none;
    color: powderblue;
}

.closeDialogButton:focus {
    outline: none;
}