<div class="form-container">
    <form class="login-form" #form="ngForm" (ngSubmit)="submit(form.value)">
        <h1>LOGIN</h1>
        <div *ngIf="invalidLogin" class="invalid-login">Invalid username or password</div>
        <div class="input-container">
            <input ngModel name="email" #email="ngModel" type="text" id="mail" class="input-field" placeholder="Email Address">
        </div>
        <div class="input-container">
            <input ngModel name="password" type="password" id="password" class="input-field" placeholder="Password">
        </div>
        <input type="submit" value="Sign in" class="signin-button">
    </form>
    <div class="signup-button-container">
        <div>Create an account ?</div>
        <button class="signup-button" routerLink='/signup'>
            Sign up
        </button>
    </div>
</div>
