<div class="row">
    <div class="col"></div>
    <div class="col-6 form-container">
        <form class="login-form" #form="ngForm" (ngSubmit)="submit(form.value)">
            <h1>Login</h1>
            <div *ngIf="invalidLogin" class="invalid-login">Invalid username or password</div>
            <div class="input-container">
                <input ngModel name="email" #email="ngModel" type="text" id="mail" class="form-control" placeholder="Email Address">
            </div>
            <div class="input-container">
                <input ngModel name="password" type="password" id="password" class="form-control" placeholder="Password">
            </div>
            <input type="submit" value="Sign in">
        </form>
        <div class="signup-button-container">
            <button class="signup-button" routerLink='/signup'>
                Sign up
            </button>
        </div>
    </div>
    <div class="col"></div>
</div>

