.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    margin-top: 10%;
    width: 30%;
}

.error-message {
    position: absolute;
    top: 32%;
    bottom: 50%;
    font-size: 30px;
    font-weight: 600;
}

h1 {
    font-size: 25px;
}

.label {
    margin-bottom: 1px;
    font-size: 12px;
    color: grey;
}

.input {
    display: block;
    width: 100%;
    padding: 5px;
    background: none;
    border: 1px solid powderblue;
    border-radius: 2px;
    color: powderblue;
    overflow: hidden;
}

.input:focus {
    outline: none;
}

.error-box-container {
    height: 20px;
    width: 100%;
}

.error-box {
    color: rgb(255, 78, 78);
    font-size: 11px;
}

.button-container {
    text-align: center;
}

.response-message-container {
    display: flex;
    justify-content: center;
}

.response-message {
    display: inline-block;
    text-align: center;
    font-size: 17px;
    margin-top: 30px;
    background-color: #ea9a96;
    padding: 10px 20px;
    border-radius: 4px;
    color: rgb(42, 42, 42);
    font-weight: 500;
}


@media screen and (max-width: 800px){
    form{
        width: 80%;
        padding: 0 5px;
        margin-top: 30%;
    }

    .error-message {
        font-size: 20px;
    }

    h1 {
        font-size: 17px;
    }

    .submit-button {
        padding: 6px;
        line-height: 19px;
    }

    .response-message {
        font-size: 14px;
    }
}