<div class="main-container">
    <div class="error-message" *ngIf="errorStatus">Your link has been expired</div>
    <form [formGroup]="form" *ngIf="isTokenValid">
        <h1>You may change your password now</h1>
        <div class="password-container">
            <label class="label" for="">Enter New Password</label>
            <input class="input" formControlName="password" type="password">
            <div class="error-box-container">
                <div class="error-box" *ngIf="password.touched && password.invalid">
                    <div *ngIf="password.errors?.required">
                        Enter password
                    </div>
                    <div *ngIf="password.errors?.pattern">
                        Atleast one capital letter, one small letter and a number
                    </div>
                </div>
            </div>
        </div>
        <div class="confirm-password-container">
            <label class="label" for="">Confirm New Password</label>
            <input class="input" formControlName="confirmPassword" type="password">
            <div class="error-box-container">
                <div class="error-box" *ngIf="confirmPassword.touched && confirmPassword.invalid">
                    <div *ngIf="confirmPassword.errors?.required && password.errors?.required">
                        Confirm password is required
                    </div>
                    <div *ngIf="confirmPassword.errors?.required && !password.errors?.required">
                        Please enter password to confirm
                    </div>
                </div>
                <div *ngIf="confirmPassword.valid && form.invalid && form.errors?.passwordsShouldMatch" class="error-box">
                    Passwords do not match.
                </div>
            </div>
        </div>
        <div class="button-container">
            <button class="submit-button" [disabled]="form.invalid" (click)="changeUserDetails()" mat-raised-button>Change Password</button>
        </div>
        <div class="response-message-container">
            <div @enterFromBottom class="response-message" *ngIf="changePasswordRequestStatus">{{ changePasswordRequestMessage }}</div>
        </div>
    </form>
</div>