<div class="form-container">
        <form [formGroup]="form">
            <div>
                <h1>SIGN UP</h1>
            </div>
            <hr>
            <div class="row input-field">
                <label class="label">Name*</label>
                <input formControlName="name" type="text" class="input">
                <div class="error-box-container">
                    <div class="error-box" *ngIf="name.touched && name.invalid">
                        <div *ngIf="name.errors?.required">
                            Name is required
                        </div>
                    </div>
                </div>   
            </div>
            <div class="row input-field">
                <label class="label">Contact Number*</label>
                <input formControlName="contact" type="text" class="input">
                <div class="error-box-container">
                    <div class="error-box" *ngIf="contact.touched && contact.invalid">
                        <div *ngIf="contact.errors?.required">
                            Contact number is required
                        </div>
                        <div *ngIf="contact.errors?.minlength || contact.errors?.maxlength">
                            Contact number should be of 10 digits
                        </div>
                        <div *ngIf="!contact.errors?.maxlength && !contact.errors?.minlength && contact.errors?.pattern">
                            contact number should be in digits you fool
                        </div>
                    </div>
                </div>      
            </div>
            <div class="row input-field">
                <label class="label">Email*</label>
                <input formControlName="email" type="text" class="input">
                <div class="error-box-container">
                    <div class="error-box" *ngIf="email.touched && email.invalid">
                        <div *ngIf="email.errors?.required">
                            Email is required
                        </div>
                        <div *ngIf="email.errors?.pattern">
                            Please provide a valid email address
                        </div>
                    </div>
                </div>
            </div>
            <div class="row input-field">
                <label class="label">Password*</label>
                <input formControlName="password" type="password" class="input">
                <div class="error-box-container">
                    <div class="error-box" *ngIf="password.touched && password.invalid">
                        <div *ngIf="password.errors?.required">
                            Enter password
                        </div>
                        <div *ngIf="password.errors?.pattern">
                            Atleast one capital letter, one small letter and a number
                        </div>
                    </div>
                </div>
            </div>
            <div class="row input-field">
                <label class="label">Confirm Password*</label>
                <div class="confirm-password-container">
                    <input formControlName="confirmPassword" type="password" class="input">
                    <!-- <i class="fa fa-eye"></i> -->
                </div>  
                <div class="error-box-container">
                    <div class="error-box" *ngIf="confirmPassword.touched && confirmPassword.invalid">
                        <div *ngIf="confirmPassword.errors?.required && password.errors?.required">
                            Confirm password is required
                        </div>
                        <div *ngIf="confirmPassword.errors?.required && !password.errors?.required">
                            Please enter password to confirm
                        </div>
                    </div>
                    <div *ngIf="confirmPassword.valid && form.invalid && form.errors?.passwordsShouldMatch" class="error-box">
                        Passwords do not match.
                    </div>
                </div>
            </div>
            <div class="row submit-button-container">
                <button class="submit-button" [disabled]="form.invalid" (click)="onRegister()">Submit</button>
            </div>   
        </form>
        <div class="login-text" *ngIf="!registeredStatus">
            Already a user? <span class="route-to-login" routerLink="/login"> Login here..</span>
        </div>
        <div class="register-message" *ngIf="registeredStatus" @fadeIn>
            {{ registeredMessage }}
        </div>
</div>
