.row {
    margin: 5px 0px;
}

.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    position: relative;
    /* background-color: #111f28; */
    padding: 15px 20px 10px;
    border-radius: 10px;
    width: 30%;
    margin-top: 40px;
}


h1 {
    letter-spacing: 3px;
}

.label {
    margin-bottom: 1px;
    font-size: 12px;
    color: grey;
}

.input {
    display: block;
    width: 100%;
    padding: 2px 5px;
    background: none;
    border: none;
    border-bottom: 1px solid powderblue;
    border-radius: 2px;
    color: powderblue;
    overflow: hidden;
}

input:focus {
    outline: none;
}

.error-box-container {
    height: 20px;
    width: 100%;
}

.error-box {
    color: rgb(255, 78, 78);
    font-size: 11px;
}

.confirm-password-container {
    position: relative;
    width: 100%;
}

/* .fa-eye {
    position: absolute;
    right: 5px;
    top: 3px;
    font-size: 15px;
} */

/* input::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: grey;
    border: none;
    border-bottom: 1px solid blue;
    transition: 1s linear;
    z-index: 100;
}

input:focus::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    border: none;
    border-bottom: 1px solid blue;
    z-index: 100;
    width: 100%;
} */

.submit-button-container {
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.submit-button {
    border: 1px solid powderblue;
    border-radius: 5px;
    background-color: #18323d;
    color: powderblue;
    width: 50%;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 500;
}

button:disabled {
    border: 1px solid powderblue;
    border-radius: 5px;
    background-color: #1c2124;
    color: grey;
    width: 50%;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 500;
    cursor: not-allowed;
}

.submit-button:hover:enabled {
    background: powderblue;
    color: #18323d;
    box-shadow: 0 0 10px powderblue;
}

.login-text {
    margin-top: 5px;
    font-size: 12px;
    color: rosybrown;
}

.login-text .route-to-login:hover {
    text-shadow: 0 0 5px rosybrown;
    cursor: pointer;
}

.login-text:focus {
    outline: none;
}

.register-message {
    position: absolute;
    bottom: 70px;
    background-color: #ea9a96;
    padding: 10px 20px;
    border-radius: 4px;
    color: rgb(42, 42, 42);
    font-weight: 500px;
    font-size: 15px;
}


@media screen and (max-width: 800px) {
    form {
        width: 95%;
    }

    .submit-button, 
    .submit-button:focus, 
    .submit-button:disabled, 
    .submit-button:enabled, 
    .submit-button:hover {
        width: 35%;
        padding: 6px;
        outline: none;
        font-size: 15px;
    }
}