<div>
    <input 
        type="text" 
        placeholder="Add note here..."
        #note
        (keyup.enter)="addNote(note)"
        class="form-control" >
</div>

<br><br>

<div class="flex-container">
    <ng-container *ngFor="let note of notes">
        <display-note 
        *ngIf="note.isPinned"    
        [displayNote]="note.value"
        [isPinned]="note.isPinned"
        (pinnote)="pinNote(note.id)"
        (deletenote)="deleteNote(note.id)">      
        </display-note>
    </ng-container>   
</div>

<br><br>

<div class="flex-container">
    <ng-container *ngFor="let note of notes">
        <display-note
        *ngIf="!note.isPinned"    
        [displayNote]="note.value"
        [isPinned]="note.isPinned"
        (pinnote)="pinNote(note.id)"
        (deletenote)="deleteNote(note.id)">      
        </display-note>
    </ng-container>   
</div>
        

