body {
    background-color: #000000;
    color: #e8eaed;
}

hr {
    height: 0.1px;
    background-color: grey;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: none !important;
    padding: 8px 8px;
    border-bottom: 1px solid grey;
}

.note-icon-container {
    display: flex;
    align-items: center;
}

.note-icon-container .note-icon {
    font-size: 30px;
    color: whitesmoke;
}

.note-icon-container span {
    font-size: 20px;
    margin-left: 8px;
    color: whitesmoke;
}

.arrow-icon-container {
    display: block;
}

.search-bar-container {
    width: 70%;
    position: relative;
}

.search-icon {
    font-size: 19px;
    position: absolute;
    left: 10px;
    top: 12px;
    color: whitesmoke;
}

.search-bar {
    display: block;
    width: 100%;
    border-radius: 4px;
    border: none;
    background-color: rgb(42, 42, 42);
    color: whitesmoke;
    padding: 12px 10px;
    padding-left: 35px;
    font-size: 15px;
}

.search-bar::placeholder {
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 100;
    color: whitesmoke;
}

.search-bar:focus {
    box-shadow: 0 0 3px rgb(42, 42, 42);
    outline: none;
}

.sync-and-profile-container {
    display: flex;
}

.sync-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    margin-right: 12px;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #ffffff;
}

.profile-icon-container {
    cursor: pointer;
    max-width: 105px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile-icon-container .user-icon {
    font-size: 23px;
    margin-right: 5px;
    color: #e8eaed;
}

.profile-icon-container .username {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.notes-body-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin-bottom: 20px;
}
.add-note-field-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.add-note-field {
    display: block;
    margin : 10px 10px 10px 10px;
    width: 60%;
    border: 1px solid powderblue;
    background: none;
    color: powderblue;
    padding: 8px 5px;
    border-radius: 3px;
    font-size: 15px;
}

.add-note-field:focus {
    background: none;
    color: powderblue;
    box-shadow: 0 0 3px powderblue;
    outline: none;
}

.button-container {
    position: relative;
}

@media screen and (min-width: 801px){
    .search-bar-container {
        flex-grow: 0 !important;
    }

    .note-icon-container {
        display: flex !important;
    }

    .arrow-icon-container {
        display: block !important;
    }

    .search-icon {
        display: block !important;
    }

    .arrow-icon {
        display: none !important;
    }
}



@media screen and (max-width: 800px) {

    .note-icon-container {
        flex-grow: 1;
    }
    
    .note-icon-container .note-icon {
        font-size: 21px;
    }
    
    .note-icon-container span {
        font-size: 18px;
        margin-left: 6px;
    }

    .arrow-icon-container {
        display: none;
        position: relative;
        height: 100%;
    }

    .arrow-icon {
        color: whitesmoke;
        cursor: pointer;
        position: absolute;
        left: 0px;
        top: 5px;
        z-index: 1;
        font-size: 23px
    }

    .search-bar-container {
        width: 30px;
        height: 32px;
        position: relative;
        margin-right: 11px;
    }

    .search-bar {
        height: 100%;
        width: 100%;
        padding: 5px;
        padding-left: 30px;
        font-size: 14px;
    }

    .search-icon {
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        left: 8px;
        top: 5px
    }

    .notes-body-section {
        padding-left: 5px;
        padding-right: 5px;
    }

    .add-note-field {
        margin: 2px;
        width: 100%;
    }


    .flex-container {
        width: 100%;
        padding: 0 5px;
    }

    .logout-button {
        padding: 4px 10px;
    }
}
