@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap-grid.css";
@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body {
    background-color: rgb(42, 42, 42);
    color: powderblue;
}

hr {
    height: 0.1px;
    background-color: grey;
}

.main {
    width: 100%;
}

.form-control {
    margin : 10px 10px 10px 10px;
    width: 100%;
    border: 1px solid powderblue;
    background-color: rgb(42, 42, 42);
    color: powderblue;
}

.form-control:focus {
    background-color: rgb(42, 42, 42);
    color: powderblue;
    box-shadow: 0 0 3px powderblue;
    border: 1px solid powderblue;
}

.list-group.list-group-item {
    margin: 0 5% 10px 5%;
    width: 80%;
}

.panel{
    border: 1px solid powderblue;
    margin: 10px 10%;
    padding: 10px 5px 50px 10px;
    border-radius: 10px;
}

.delButton{
    color: grey;
}

.delButton:hover {
    background-color: grey;
    color: white; 
}

.text {
    position: relative;
    padding: 8px 8px 30px 16px;
}

.pinButton {
    position: absolute;
    top: 8px;
    right: 8px;
    color: grey;
}

.pinButton:hover {
    background-color: grey;
    color: white;
    border-radius: 50%;
}

.isPinned {
    color: rgb(102, 102, 241);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    border: 1px solid grey;
    border-radius: 10px;
    width: 200px;
    margin: 9px 9px 2px 2px;
    word-wrap: break-word;
    transition: 0.15s linear;
}

.box:hover {
    transform: scale(1.06);
    box-shadow: 0 0 2px powderblue;
}

.toolbar {
    opacity: 0;
}

.box:hover .toolbar {
    opacity: 1;
}

.icon {
    height: 30px;
    width: 30px;
    margin: 0px 1px;
    padding: 6px 0px;
    text-align: center;
    color: grey;
    transition: 350ms;
    border-radius: 50%;
}

.icon:hover {
    background-color: grey;
    color: white;
    border-radius: 50%;
}

 .mat-dialog-container {
    padding: 15px 15px 10px !important;
    width: 600px !important;
    background-color: rgb(42, 42, 42) !important;
    border-radius: 20px !important;
    position: relative !important;
}

.editbox {  
    border: none;
    width: 100%;
    color: powderblue; 
    margin-bottom: 40px;
    word-wrap: break-word;
}

.editbox:focus {
    outline: none;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.closeDialogButton {
    background: none;
    border: none;
    color: powderblue;
}

.closeDialogButton:focus {
    outline: none;
}

 