@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap-grid.css";
@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body {
    background-color: #202124;
    color: #e8eaed;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.mat-dialog-container {
    padding: 15px 15px 10px !important;
    width: 600px !important;
    background-color: rgb(42, 42, 42) !important;
    border-radius: 20px !important;
    position: relative !important;
    max-height: 463px !important;
}



 