<div class="main-container">
    <div class="message-container">
        <div class="error">
            <div *ngIf="isError" class="row">
                <div class="col-9 error-text">
                    There is no account with this email.. Signup first
                </div>
                <div class="col-3 error-icon-container">
                    <span class="material-icons error-icon">
                        clear
                    </span>
                </div>
            </div> 
        </div>
        <div class="success">
            <div *ngIf="isSuccess" class="row">
                <div class="col-9 success-text">
                    A verification mail has been sent to your account
                </div>
                <div class="col-3 success-icon-container">
                    <span class="material-icons success-icon">
                        verified
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-container">
        <div class="text">Enter your user account's verified email address and we will send you a password reset link.</div>
        <form [formGroup]="form">
            <div class="email-field-container">
                <input formControlName="email" type="text" class="email-field" placeholder="Enter your email">
                <div class="error-box-container">
                    <div *ngIf="email.touched && email.errors?.required" class="error-box">
                        Please enter email
                    </div>
                </div>
            </div>
            <div class="button-container">
                <button (click)="sendVerificationMail()" mat-stroked-button color="white" class="continue-button">Send password reset mail</button>
            </div>
        </form>
    </div>    
</div>
