* {
    padding: 0;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-container {
    width: 300px;
    padding: 25px;
    border-radius: 0 0 5px 5px;
    background-color: rgba(48, 64, 64, 0.4);
}

.message-container {
    height: 74px;
    margin-top: 93px;
}

.error, .success {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: rgba(48, 64, 64, 0.4);
    border-radius: 5px 5px 0 0;
}

.error-text, .success-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.error-icon-container, .success-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-icon, .success-icon {
    font-size: 54px;
}

.row {
    margin: 10px 0px;
}

.text {
    margin-bottom: 10px;
}

.email-field-container {
    width: 100%;
    margin: 2px;
}

.email-field{
    width: 100%;
    background: none;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    color: white;
    padding: 5px;
}

.email-field:focus {
    outline: none;
}

.error-box-container {
    height: 10px;
    width: 100%;
}

.error-box {
    color: rgb(255, 78, 78);
    font-size: 11px;
}

.button-container {
    width: 100%;
    margin-top: 10px;
}

.continue-button {
    width: 100%;
    background: none;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    padding: 0px;
    line-height: 30px;
}

.continue-button:focus {
    outline: none;
}